html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#visualQ {
  margin: 0;
  width: 100%;
  max-width: 500px;
  height: 500px;
  border: 1px solid #000;
  background: teal;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#questionBtn {
  grid-area: 1 / 1 / 1 / 4;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 12em;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.userChoice {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #000;
  text-align: center;
  font-size: 10em;
  cursor: pointer;
}

#c1 {
  grid-area: 2 / 1 / 3 / 2;
}

#c2 {
  grid-area: 2 / 2 / 3 / 3;
}

#c3 {
  grid-area: 2 / 3 / 3 / 4;
}
