@font-face {
  font-family: "CedarvilleCursive-Regular";
  src: url(./fonts/CedarvilleCursive-Regular.ttf) format("truetype");
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #212121;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
}

div {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.cursive {
  font-family: "CedarvilleCursive-Regular";
  font-weight: normal;
  font-style: normal;
  font-size: 5em;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 35%;
  font-size: 3em;
  background: rgb(100, 61, 136);
  z-index: 5;
}

#openModal,
#tutorial {
  position: relative;
  float: right;
  margin-left: 10px;
  padding: 0.15em;
  font-size: 2em;
  color: rgb(100, 61, 136);
  background: rgb(231, 206, 255);
  border: 1px solid #643d88;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

#closeModal {
  position: relative;
  float: right;
  font-size: 2em;
  color: #444;
  font-weight: bold;
  padding: 0.15em;
  background: #6aa9b0;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid rgb(61, 136, 123);
}

#mainWrapper {
  margin: 0 auto;
  position: relative;
  padding: 0;
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#logo {
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 1.2em;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

#logo img {
  width: 50%;
  height: auto;
}

#wrapperTitle {
  width: 100%;
  height: 75px;
  background: rgb(231, 206, 255);
  padding: 1em;
  z-index: 3;
}

#wrapperTitle div:nth-child(1) {
  float: left;
  font: bold 2.5em arial, sans-serif;
  background-color: rgb(100, 61, 136);
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

#particlesWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

#mid {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

#footer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  padding: 1.2em;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

#c1 {
  position: absolute;
  left: 235px;
  top: 15px;
}

#c2 {
  position: absolute;
  left: 195px;
  top: 195px;
}

#c3 {
  position: absolute;
  left: 15px;
  top: 250px;
}

#fluid-meter {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 200px;
  height: 200px;
  margin: 0 auto 0 auto;
}

#speakBtn {
  --glow-color: rgb(217, 176, 255);
  --btn-color: rgb(100, 61, 136);
  border: 3px solid var(--glow-color);
  color: var(--glow-color);
  background-color: var(--btn-color);
  font-size: 4em;
  -webkit-user-select: none;
  user-select: none;
  padding: 0.15em;
  z-index: 3 !important;
  display: block;
  float: left;
  align-self: center;
}

#modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  background: #444;
  z-index: 200;
  transition: all 0.35s;
  left: -100%;
}

.openModal {
  left: 0 !important;
}

#modalTitle {
  position: relative;
  width: 100%;
  height: 75px;
  background: #86c6cd;
  padding: 0.8em;
  color: #fff;
}

#modalTitle div:nth-child(1) {
  float: left;
  font: bold 3em arial, sans-serif;
  background-color: rgb(61, 136, 123);
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

#settingsWrapper {
  margin: 0 auto;
  width: 100%;
  height: calc(100% - 75px);
}

#configTable {
  width: 100%;
  height: calc(100% - 2px);
  font-size: 1.5em;
  color: #444;
}

#configTable tr {
  border-top: 1px solid rgba(191, 123, 255, 0.781);
  background: #86a3cd;
  background: #fff;
  font-weight: bold;
}

#configTable tr td {
  padding: 0.5em;
  width: max-content;
}

#configTable tr td:nth-child(even) {
  text-align: center;
}

#configTable tr td:nth-child(odd) {
  padding-left: 20px;
  text-align: left;
}

#selectAll,
#installApp {
  font-family: "Material Icons";
  position: relative;
  font-size: 1em;
  color: rgb(61, 136, 123);
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
  background: #86c6cd;
  background: #ccc;
  border: 2px solid rgb(61, 136, 123);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  transition: 1s all;
  box-shadow: 2px 2px 5px 0px rgb(0 0 0/ 37%);
}

.toggled {
  color: #fff !important;
  background: #6aa9b0 !important;
  text-shadow: 0px 2px 5px rgb(0 0 0 / 55%);
}

/* ------ buttons ------ */

.btn {
  text-align: center !important;
  box-shadow: 0 0 20px #eee !important;
  border-radius: 4px !important;
  box-shadow: inset rgb(255 255 255 / 60%) 0px 1px 0px,
    inset rgb(0 0 0 / 20%) 0px -1px 0px, rgb(0 0 0 / 50%) 0px 1px 5px,
    rgb(0 0 0 / 50%) 0px 0px 0px 1px !important;
  cursor: pointer;
  z-index: 1;
  /* border: none !important; */
}

.btn:active {
  color: #fff !important;
  box-shadow: inset rgb(0 0 0 / 50%) 0px 1px 4px !important;
}

/* From uiverse.io */
.userChoice {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: 3px solid var(--glow-color);
  color: var(--glow-color);
  font-size: 5.5em;
  width: 1.5em;
  height: 1.5em;
  background-color: var(--btn-color);
  border-radius: 50%;
  outline: none;
  text-shadow: 0 0 1 var(--glow-color);
  transition: all 0.3s;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  align-self: center;
}

.userChoice::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}


.userChoice:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

/* 
.userChoice:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
} */

.error {
  --glow-color: #ffb0b0;
  --glow-spread-color: #ff7b7bc7;
  --enhanced-glow-color: #ffcece;
  --btn-color: #883d3d;
}

.correct {
  --glow-color: #b0ecff;
  --glow-spread-color: #7bd2ffc7;
  --enhanced-glow-color: #ceecff;
  --btn-color: #3d6788;
}

/****** sliding/toggle checkbox ******/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid rgb(61, 136, 123);
  box-shadow: inset 2px 2px 7px -2px #000;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  background-color: #86c6cd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 1px 1px 5px -1px #000000;
}

input:checked+.slider {
  background-color: #6aa9b0;
}

input:focus+.slider {
  box-shadow: inset 2px 2px 7px -2px #000;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  color: #fff;
  text-shadow: 0px 1px 2px #000;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  color: rgb(61, 136, 123);
  border: 1px solid rgb(61, 136, 123);
  margin: -2px;
}

#slider0::before {
  font-family: "Material Icons";
  content: "music_note";
}

#slider1::before {
  content: "A";
}

#slider2::before {
  content: "a";
}

#slider3::before {
  content: "1";
}

#slider4::before {
  content: "A";
  font-weight: bold;
  font-family: "CedarvilleCursive-Regular";
  line-height: 1.2em;
}

#slider5::before {
  content: "a";
  font-weight: bold;
  font-family: "CedarvilleCursive-Regular";
  line-height: 1.2em;
}

/**** Loading Animation ****/
.loader {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 198px;
  height: 198px;
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: .75em;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 198px;
  height: 198px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, .55);
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  animation: animloader 2s linear infinite;
}

.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(.5);
    opacity: 0;
  }
}

.loader1 {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 98px;
  height: 98px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader1:before,
.loader1:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader1:after {
  color: rgba(191, 123, 255, 0.781);
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

/**** Tabs CSS ****/

.settingsContent {
  text-align: center;
  border-top: 1px solid #ddd;
  width: 100%;
  height: calc(100% - 45px);
}

#tabsWrapper {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#tabsWrapper>input {
  display: none;
}

#tabsWrapper>label {
  display: inline-block;
  margin: 0 0 -2px;
  padding: 15px 15px;
  height: 15px;
  font-size: 1.15em;
  font-weight: 500;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

#tabsWrapper>label:before {
  font-family: "Material Icons";
  font-weight: normal;
  margin-right: 10px;
}

#tabsWrapper>label[for*="1"]:before {
  content: "\e429";
}

#tabsWrapper>label[for*="2"]:before {
  content: "\f02e";
}

#tabsWrapper>label[for*="3"]:before {
  content: "\e88f";
}

#tabsWrapper>label:hover {
  color: #888;
  cursor: pointer;
}

#tabsWrapper>input:checked+label {
  color: #fff;
  border-bottom: 3px solid orange;
}

#content1,
#content2,
#content3 {
  display: none;
}

#tab1:checked~#content1,
#tab2:checked~#content2 {
  display: block;
}

#tab3:checked~#content3 {
  display: flex;
}

#content3 {
  flex-direction: column;
  height: 90%;
}

#content3 div:nth-child(1) {
  padding: 1.2em;
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

#content3 div p {
  color: #fff;
}

/*** Users ***/

#usersTableBody tr {
  background-color: #fff;
}

#usersTableBody tr td {
  cursor: pointer;
}

#usersTableBody tr td:nth-child(1) {
  width: 55%;

}

#usersTableBody tr td:nth-child(1) div {
  white-space: nowrap;
  overflow: hidden;
  width: 150px;
}

.addUser {
  padding: 0.8em;
  font-size: 2em;
  color: #fff;
  /* background-color: #3d6788; */
  background: #6aa9b0;
  width: 90%;
  margin: 1em auto 1em auto;
}

#usersTable {
  width: 100%;
  height: max-content;
  max-height: 90%;
  overflow-y: auto;
}

#usersTableScroll {
  height: calc(100% - 9.77em);
  overflow-y: auto;
}

.selectedUser {
  font-size: 2em;
  padding: 0.8em;
  color: #fff;

  background: #86c6cd;
}

.unselectedUser {
  font-size: 2em;
  padding: 0.8em;
  color: #444;
  background: #6aa9b0;
}

/* Victory */

#victory {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 4;
  padding: 2em;
  transition: all 0.35s;
  left: -100%;
}

#victoryContainer {
  width: 100%;
  height: 100%;
  border: 1px dashed rgb(231, 206, 255);
  position: relative;
  z-index: -2;
  background: url("./images/unicorn.png");
  background-repeat: no-repeat;
  background-position: bottom -25px right -75px;
  text-shadow: 0px 0px 3px #ffffff;
}

#victoryContainer>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  justify-content: space-evenly;
}

#replay {
  --glow-color: rgb(217, 176, 255);
  border: 2px solid var(--glow-color);
  color: #fff;
  font-size: 3.5em;
  padding: .25em;
  background-color: rgb(198 38 221);
  border-radius: 50%;
  outline: none;
  text-shadow: 0 0 1 var(--glow-color);
  transition: all 0.3s;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  align-self: center;
  filter: drop-shadow(5px 5px 10px #000);
}

#victoryContainer>div div:nth-child(1) {
  font-size: 2em;
  color: rgb(198 38 221);
  text-align: center;
}


.banner {
  --bannerBorder: rgb(170, 17, 162);
  --bannerBackground: rgb(182, 34, 187);
  position: relative;
  margin: 1em auto;
  display: block;
  width: calc(100% - 6em);
  border: 1px solid var(--bannerBorder);
  font: normal 30px/60px 'Rye';
  text-align: center;
  color: #fff;
  background: var(--bannerBackground);
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .15) inset,
    0 6px 10px rgba(0, 0, 0, .15);
}

.banner::before,
.banner::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: -70px;
  top: 24px;
  display: block;
  width: 40px;
  height: 0px;
  border: 30px solid var(--bannerBorder);
  border-right: 20px solid rgb(87, 17, 153);
  border-bottom-color: #9e1eb8;
  border-left-color: transparent;
  transform: rotate(-5deg);
}

.banner::after {
  left: auto;
  right: -70px;
  border-left: 20px solid rgb(110, 17, 153);
  border-right: 30px solid transparent;
  transform: rotate(5deg);
}

@media only screen and (max-device-width: 375px) and (max-height: 680px) {

  .slider:before {
    box-sizing: border-box;
    height: 28px;
    width: 28px;
    padding: 0 0 5px 0;
  }

  #configTable {
    font-size: 1.5em;
  }

  #tabsWrapper>label {
    font-size: .9em;
  }

  #wrapperTitle div:nth-child(1) {
    font: bold 2em arial, sans-serif;
  }

  .userChoice {
    width: 95px;
    height: 95px;
    font-size: 3.5em;
    padding: 0 !important;
  }

  #fluid-meter {
    width: 200px !important;
    height: 200px !important;
  }

  #footer img {
    height: 150px;
    width: auto;
  }

  #c1 {
    left: 210px;
  }

  #c2 {
    left: 160px;
    top: 160px;
  }

  #c3 {
    top: 210px;
  }
}

/*Interesting CSS to determine if the application is running as an installed or not as pwa;*/
/* 
@media all and (display-mode: standalone) {
  #installApp {
    color: #fff !important;
    background: #6aa9b0 !important;
    text-shadow: 0px 2px 5px rgb(0 0 0 / 55%);
  }
} */